@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Marcellus&display=swap");

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.crete-round-regular {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-style: normal;
}

.crete-round-regular-italic {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-style: italic;
}

:root {
  /* variables */
  --cg-background: #f6edd0;
  --cg-primary: #372919;
  --cg-secondary: #ffd52d;
  --cg-accent: rgb(23, 236, 251);

  --font-heading: "Marcellus", serif;
  --font-body: "Crete Round", serif;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;

  --border-radius: 8px;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  background-color: var(--cg-background);
  color: var(--cg-primary);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--cg-primary);
}

button {
  font-family: var(--font-body);
  background-color: var(--cg-secondary);
  color: var(--cg-primary);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

link {
  text-decoration: none;
  color: var(--cg-secondary);
  font-family: var(--font-body);
}

a {
  text-decoration-line: underline;
  text-decoration-color: var(--cg-accent);
  text-decoration-thickness: 2px;
  color: var(--cg-primary);
  font-family: var(--font-body);
}

.navbar a {
  text-decoration: none;
  color: #ffff;
  font-family: var(--font-body);
  padding: 10px 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 20%;
  z-index: 10;

  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: var(--cg-primary);
  color: var(--cg-secondary);
  padding: 10px 15px;
}
